* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Comic Neue", cursive;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
  background-color: #161616;
  width: 100vw;
  height: 70px;
  display: flex;
  position: sticky;
  top: 0;
    
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}
.content{
    
    font-size: 1.6rem;
}
.logo{
    display: flex;
    
    display: flex;
    align-items: center;
}
.logo a{
    color: #fff;
}
.logo img {
  width: 80px;
  cursor: pointer;
}
.menu{
    text-transform: uppercase;
    font-size: 18px;
    width: 650px;
    display: flex;
    justify-content: space-around;
}

.menu li a{
    color: #fff;
    margin-left: 5px;
    padding: 21px 16px;
    border-bottom: 3px solid transparent;
    transition: all 200ms ease-in;
}

.menu a:hover{
    background-color: #333;
    color: #ffd700;
    border-bottom: 3px solid #ffd700;
}